name: Build Test and Publish

on: [push, pull_request, release, workflow_dispatch]

jobs:
  build_wheels:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-13, macos-14]

    steps:
      - uses: actions/checkout@v4

      # Used to host cibuildwheel
      - uses: actions/setup-python@v3

      - name: Install cibuildwheel
        run: python -m pip install cibuildwheel==2.16.2
        
      - name: Build wheels
        run: python -m cibuildwheel --output-dir wheelhouse
        env:
            # remove python <3.9 and musllinux
            CIBW_SKIP: "cp27-* cp35-* cp36-* cp37-* cp38-* pp* *-win32 *win_arm64 *i686 *-musllinux* cp312-manylinux_x86_64"
            CIBW_TEST_COMMAND: "python {project}/docs/tutorial/example.py"
            
      - uses: actions/upload-artifact@v4
        with:
          name: my-artifact-${{ matrix.os }}
          path: ./wheelhouse/*.whl

  build_sdist:
    name: Build source distribution
    runs-on: ubuntu-latest  # Build the source distribution once on any OS (Ubuntu is fine)

    steps:
      - uses: actions/checkout@v4

      - name: Install build tool
        run: python -m pip install build

      - name: Build source distribution
        run: python -m build --sdist --outdir dist

      - uses: actions/upload-artifact@v4
        with:
          name: source-dist  # <-- Ensure artifact name is consistent
          path: ./dist/*.tar.gz

  upload_all:
    needs: [build_wheels, build_sdist]
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    if: github.event_name == 'release' && github.event.action == 'published'
    steps:
     - uses: actions/download-artifact@v4
       with:
        path: dist
        pattern: my-artifact-*  # For wheels
        merge-multiple: true
     - uses: actions/download-artifact@v4
       with:
        path: dist
        pattern: source-dist  # <-- Pattern matching exact artifact name
        merge-multiple: true
     - name: List directory contents
       run: |
         ls -l ./dist
     - uses: pypa/gh-action-pypi-publish@release/v1
